.container {
    width: 1440px;
    max-width: 100%;
    margin: 0 0;
}


.wrapper,
.wrapper .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}




@media (min-width: 960px) {
    .wrapper .container {
        justify-content: space-between;
    }
}

body{
    background: rgb(56, 56, 56);
}